@{
    Layout = "_publicLayout";
}
@model ebay.ViewModel.OrderMangementVm
<div>

    <div class="fixed-top bg-secondary">
        <h1 class="text-center  text-white py-3">Order</h1>

    </div>
    <div class="row mt-5">
        <div class="col-1 fixed-top" style=" position: fixed; top:100px; left:30px;">
            <form>
                <button type="submit" asp-action="Index" asp-controller="Public" value="Place Order"
                    class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                    Back</button>
            </form>
        </div>
    </div>

    <div class="" style="margin-top: 100px;">


        @foreach (var data in Model.OrderItemsList.OrderByDescending(x => x.Order.Order_date))
        {
            @if (!data.Order_status.Equals("Pending"))
            {
                <div class="form-check col-md-10 offset-md-1">
                    <div class="row border-bottom pb-3 ">
                        <div class="col-1">

                        </div>
                        <div class="d-none d-lg-block col-lg-1 text-center py-2">
                            <img src="/Public/images/product/@data.Product.Product_image" class="rounded" width="100%" />
                        </div>
                        <div class="col-12 my-auto col-lg-4 pt-md-3">
                            <h6 class="text-uppercase text-dark product-title col-12 text-truncate">
                                <strong>@data.Product.Name</strong>
                            </h6>
                        </div>
                        <div class="col-2 my-auto text-center ">
                            <h6 class="fw-semibold my-auto">
                                @data.Product.Price
                                <span class="text-muted my-auto">&nbsp;x&nbsp;</span>@data.Quantity
                            </h6>
                        </div>
                        <div class="col-6 col-sm-4 my-auto mx-auto col-lg-2 ">
                            <strong>@data.Order_status</strong>
                        </div>
                        <div class="col-2 my-auto mx-auto">

                            @if (@data.Order_status != "Approved")
                            {
                                @* <form method="post" asp-action="Delete" asp-route-id="@data.id" >
                    <button class="btn btn-primary my-auto btn-sm" style="width: 180px;" >
                    Manage order
                    </button>
                    </form> *@
                            }
                            else
                            {
                                <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-@data.Order_id-@data.id">
                                    cancel
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-@data.Order_id-@data.id" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Warning!!!</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to cancel order?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <form method="post" asp-action="CancelOrder" asp-controller="Cart">
                                                    <input type="hidden" name="orderId" value="@data.Order_id">
                                                    <input type="hidden" name="orderItemId" value="@data.id">
                                                    <button type="button" class="btn btn-primary">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }

    </div>

</div>