@{
    Layout = "_publicLayout";
}
@model ebay.ViewModel.OrderMangementVm
<form method="post">

    <div class="mt-5">
        <h1 class="text-center text-dark mt-5">Order</h1>
        <hr>
        @foreach (var data in Model.OrderItemsList.OrderByDescending(x => x.Order.Order_date))
        {
            <div class="form-check col-md-10 offset-md-1">
                <div class="row border-bottom pb-3 ">
                    <div class="d-none d-lg-block col-lg-1 text-center py-2">
                        <img src="/Public/images/product/@data.Product.Product_image" class="rounded" width="100%" />
                    </div>
                    <div class="col-12 col-lg-6 pt-md-3">
                        <h5 class="text-uppercase text-dark product-title col-12 text-truncate">
                            <strong>@data.Product.Name</strong>
                        </h5>
                        <p><small>@Html.Raw(data.Product.Description.Substring(0, 250) + "...")</small></p>
                    </div>
                    <div class="col-12  col-lg-5 text-center row mx-auto my-auto">
                        <div class="col-3 text-center ">
                            <h6 class="fw-semibold mt-2">
                                @data.Product.Price
                                <span class="text-muted">&nbsp;x&nbsp;</span>@data.Quantity
                            </h6>
                        </div>
                        <div class="col-6 col-sm-4 col-lg-4 ">
                            <div class="w-75 btn-group" role="group">
                                @* <strong>@data.Order.Order_status</strong> *@
                            </div>
                        </div>
                        @* @if (@data.Order.Order_status != "Approved") *@
                        {
                            <div class="col-3 col-sm-4 col-lg-4 offset-lg-1 text-right  mx-auto my-auto">
                                <button class="" asp-action="Delete" asp-route-id="@data.id">
                                    @* <i class="bi bi-trash-fill"></i> *@
                                    <h6>Manage order</h6>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="col-3 col-sm-4 col-lg-4 offset-lg-1 text-right pt-2 mx-auto my-auto">

                                <button class="btn btn-danger" asp-action="CancelOrder" asp-controller="Cart" asp-route-orderId="@data.Order_id" asp-route-orderItemId="@data.id">
                                    @* <i class="bi bi-trash-fill"></i> *@
                                    <h6>Cancel Order</h6>
                                </button>
                            </div>
                        }

                    </div>

                </div>
            </div>
        }
    </div>

</form>