

@using ebay.ViewModel
@model ProductSearchVm

<div class="container">


    <form>
        <div class="row pt-3">
            <div class="col-6">
                <h1 class="text-primary">Product List</h1>
            </div>
            <div class="col-3">
                <input asp-for="Name" type="text" placeholder="e.g. Iphone" class="form-control">
            </div>
            <div class="col-1">
                <button class="btn btn-primary">
                    <i class="bi bi-search"></i>&nbsp;Search
                </button>
            </div>
            <div class="col-2">
                <a asp-controller="Product" asp-action="Add" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>&nbsp;Add New Product
                </a>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped text-center">
        <thead>

            <tr>
                <td>
                    <h3>
                        Product Name
                    </h3>
                </td>
                <td>
                    <h3>
                        Description
                    </h3>
                </td>

                <td>
                    <h3>
                        Price
                    </h3>
                </td>
                <td>
                    <h3>
                        Brand
                    </h3>
                </td>

                <td>
                    <h3>
                        Quantity
                    </h3>
                </td>
                <td>
                    <h3>
                        Color
                    </h3>
                </td>
                <td>
                    <h3>
                        Action
                    </h3>
                </td>
            </tr>
        </thead>

        <tbody>
            @foreach (var data in Model.Data)
            {
                <tr>
                    <td>
                        @data.Name
                    </td>

                    <td>
                        @data.Description
                    </td>
                    <td>
                        @data.Price
                    </td>

                    <td>
                        @data.Brand
                    </td>
                    <td>
                        @data.Quantity
                    </td>

                    <td>
                        @data.Color
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a class="btn btn-primary mx-2" asp-controller="Product" asp-action="Edit" asp-route-id="@data.id">
                                <i class="bi bi-pencil"></i>&nbsp; Edit
                            </a>
                            <a  href="@Url.Action("Delete",new {@data.id})" class="btn btn-danger mx-2" >
                                <i class="bi bi-trash"></i>&nbsp; Delete
                            </a>

                        </div>
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>